.env
.ipynb_checkpoints
*/.ipynb_checkpoints/*

2-importing-data/files/MNIST.txt
2-importing-data/files/huck_finn.txt
2-importing-data/files/Northwind-new.sqlite
2-importing-data/files/tweets.txt
3-cleaning-data/files/ride_sharing_bugged.csv